[Unit]
Description=MoOde Audio OLED Display
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/MoodeAudio-OLED/moode-oled.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
